<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title=${clientId})"></head>
<body>

<div class="right-align">
    <form data-th-action="@{/clients/{clientId}/remove (clientId=${clientId})}" class="blue-text text-darken-2" method="post">
        <button class="red accent-4" type="submit">Удалить клиента и все его инциденты</button>
    </form>
</div>

<div class="row">
    <div class="col s2">
        Удалить инцедент по ID:
        <form data-th-action="@{/clients/{clientId}/removeincidentpost (clientId=${clientId})}" method="post">
            <div class="input-field inline">
                <span class="helper-text" data-error="wrong" data-success="right">Введите ID инцидента</span>
                <input  type="number" id="id" name="id">
                <button class="waves-effect waves-light blue-grey darken-1 btn-small">Удалить</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col s12">
        <h3 class="center-align  blue-grey-text darken-1 text-darken-1">Список инцидентов клиента</h3>
    </div>
</div>
    <div>
        <table class="centered">
            <thead class="cyan lighten-4">
                <tr>
                    <th>ID</th>
                    <th>Дата</th>
                    <th>Начало инцидента ЧЧ</th>
                    <th>Начало инцидента MM</th>
                    <th>Окончание инцидента ЧЧ</th>
                    <th>Окончание инцидента MM</th>
                    <th>Продолжительность ММ</th>
                    <th>Описание</th>
                    <th>Причины</th>
                    <th>Потеряно операций</th>
                </tr>
            </thead>
            <tbody  data-th-each="incident: ${incidents}" class="orange lighten-5">
                <tr>
                    <td data-th-text="${incident.id}"></td>
                    <td data-th-text="${incident.data}"></td>
                    <td data-th-text="${incident.startTimeHH}"></td>
                    <td data-th-text="${incident.startTimeMM}"></td>
                    <td data-th-text="${incident.finishTimeHH}"></td>
                    <td data-th-text="${incident.finishTimeMM}"></td>
                    <td data-th-text="${incident.duration}"></td>
                    <td data-th-text="${incident.description}"></td>
                    <td data-th-text="${incident.subject}"></td>
                    <td data-th-text="${incident.transactions}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="center-align">
        <a data-th-href="@{/clients/{clientId}/addincident (clientId=${clientId})}" class="waves-effect center-align blue-grey darken-1 waves-light btn">Добавить запись об инциденте</a>
    </div>

</div>
</body>
</html>