<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='All Incidents')"></head>
<body>
<div>
    <a data-th-href="@{/clients}">
        <span>Показать список всех клиентов</span>
    </a>
</div>
<div class="container">
        <div class="row">
            <div class="col s12">
                <table class="centered">
                    <h1> Список всех инцидентов</h1>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Дата</th>
                        <th>Начало инцидента ЧЧ</th>
                        <th>Начало инцидента MM</th>
                        <th>Окончание инцидента ЧЧ</th>
                        <th>Окончание инцидента MM</th>
                        <th>Продолжительность ММ</th>
                        <th>Описание</th>
                        <th>Причины</th>
                        <th>Потеряно операций</th>
                    </tr>
                    </thead>
                    <tbody  data-th-each="incident : ${incidents}">
                    <tr>
                        <td data-th-text="${incident.id}"></td>
                        <td data-th-text="${incident.data}"></td>
                        <td data-th-text="${incident.startTimeHH}"></td>
                        <td data-th-text="${incident.startTimeMM}"></td>
                        <td data-th-text="${incident.finishTimeHH}"></td>
                        <td data-th-text="${incident.finishTimeMM}"></td>
                        <td data-th-text="${incident.duration}"></td>
                        <td data-th-text="${incident.description}"></td>
                        <td data-th-text="${incident.subject}"></td>
                        <td data-th-text="${incident.transactions}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>

<div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>

</body>
</html>